.about-page-wrapper {
    text-align: center;
    border: 1px solid #1e2761;
    margin: 2em 1em;
    background-color: #e5f1e4;
}

.about-page-wrapper h1,
.about-page-wrapper h2,
.about-page-wrapper h4,
.about-page-wrapper h5,
.about-page-wrapper strong {
    margin: 0;
    color: #1e2761;
}

.about-page-wrapper p {
    color: black;
    text-align: justify;
}

.about-page-wrapper button {
    width: 15em;
}

.about-pawsitive-homes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
}

.about-pawsitive-homes-images-wrapper {
    display: flex;
}

.about-pawsitive-homes-images-wrapper {
    justify-content: center;
    object-fit: contain;
}

.cat-gif {
    height: 6em;
    object-fit: contain;
}

.running-dog-gif {
    height: 4em;
    object-fit: contain;
}

.about-team {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1e2761;
    background-color: #b2cdb0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.about-team h1 {
    padding: 1em 0;
}

.about-team-images-wrapper {
    justify-content: center;
    display: flex;
    margin-bottom: 2em;
    gap: 1em;
    height: 12em;
    width: 25em;
}

.about-team-images-wrapper img {
    height: 100%;
    border-radius: 1em;
    border: 1px solid black;
}

.moto {
    padding: 1em;
    margin-bottom: 1em;
    color: white;
    background-color: #1e2761;
    border-radius: 0.5em;
}

.back-home-button-container {
    padding: 1em;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .about-page-wrapper {
        margin: 2em;
        border-radius: 1em;
    }

    .about-page-wrapper h1 {
        padding-top: 1em;
    }

    .cat-gif {
        height: 14em;
    }

    .running-dog-gif {
        height: 14em;
    }

    .about-team-images-wrapper {
        margin-bottom: 2em;
        gap: 1em;
        height: 20em;
        width: 35em;
    }

    .moto {
        color: cadetblue;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .about-pawsitive-homes h1 {
        padding-top: 1em;
    }

    .about-pawsitive-homes p {
        text-align: center;
    }

    .cat-gif {
        height: 15em;
    }

    .running-dog-gif {
        height: 15em;
    }

    .about-team p {
        text-align: center;
    }

    .about-team-images-wrapper {
        gap: 1em;
        height: 20em;
        width: 35em;
    }
}

@media screen and (min-width: 1440px) {
    .about-pawsitive-homes h1 {
        padding-top: 1em;
    }

    .about-pawsitive-homes p {
        text-align: center;
    }

    .cat-gif {
        height: 16em;
    }

    .running-dog-gif {
        height: 16em;
    }

    .about-team p {
        text-align: center;
    }

    .about-team-images-wrapper {
        gap: 3em;
        height: 25em;
        width: 40em;
    }

    .about-team-images-wrapper img {
        height: 100%;
        border-radius: 1em;
        border: 1px solid black;
    }
}
