.about-page-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about-page-wrapper h1 {
    color: RGB(239, 71, 111);
}

.about-page-wrapper h2 {
    color: RGB(255, 209, 102);
}

.about-page-wrapper h3 {
    color: RGB(6, 214, 160);
}

.about-page-wrapper h4 {
    color: RGB(255, 209, 102);
}

.about-page-wrapper h5 {
    color: RGB(6, 214, 160);
}

.about-page-wrapper p {
    color: rgb(0, 128, 113);
}

.about-page-wrapper strong {
    color: RGB(255, 209, 102);
}
