.adoption-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

.adoption-form {
    border: 1px solid #18c32c;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    align-items: center;
    margin-bottom: 2em;
}

.adoption-form h2 {
    color: #18c32c;
}
.adoption-form p {
    color: antiquewhite;
    line-height: 1.5;
    text-align: center;
}

.adoption-form label {
    color: #18c32c;
}

.success-message {
    background-color: #5aa03e;
    border: 1px solid #d0e9c6;
    color: #3c763d;
    padding: 15px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    width: 100%;
    border-radius: 0.5em;
    height: 2em;
}

form textarea {
    width: 100%;
    overflow: visible;
    height: 3em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}
