.animal-form {
    display: flex;
    flex-direction: column;
    width: 22em;
    margin-top: 2em;
    padding-bottom: 2em;
    gap: 1em;
    justify-content: left;
    align-items: left;
    background-color: antiquewhite;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    flex-direction: column;
}

.form-container h1 {
    color: #1e2761;
}

.animal-form input {
    padding: 0.3em;
    width: 100%;
    margin-left: 1em;
    border: 2px solid #1e2761;
    border-radius: 0.5em;
}

.animal-form label {
    color: #1e2761;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.form-description {
    border: 2px solid #1e2761;
    border-radius: 0.5em;
    width: 100%;
    margin-left: 1em;
    height: 3em;
    overflow: visible;
}

.animals-details-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.animals-details-page-wrapper h1 {
    color: antiquewhite;
}

.animals-details-page-wrapper img {
    border-radius: 1em;
    justify-content: center;
    max-width: 100%;
    height: 22em;
    width: 22em;
    object-fit: cover;
    margin: 1em;
}

.additional-information-and-button {
    display: flex;
    align-items: center;
    gap: 2em;
}

.additional-information-and-button button {
    margin-right: 0.5em;
}

.additional-information-and-button h1 {
    margin-left: 0.5em;
    font-size: 1.4em;
}

.animal-details-without-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.animal-details-without-image p {
    color: antiquewhite;
    padding: 0.2em;
    border-radius: 0.5em;
    border: 1px solid antiquewhite;
    width: 90%;
    margin: 0.5em;
}

.animal-details-without-image strong {
    padding: 0.3em;
    color: antiquewhite;
}

.successfullMessage {
    color: rgb(24, 195, 44);
    font-weight: bold;
    font-size: 2em;
    text-shadow: black;
}

.error {
    color: red;
    text-shadow: black;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .animal-form {
        width: 70%;
        gap: 1em;
    }

    .animal-details-with-image {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 1.5em;
    }

    .animal-form input {
        border-radius: 0.5em;
        padding: 0.5em;
        width: 100%;
        margin-left: 1em;
        border-color: #1e2761;
    }

    .form-container {
        margin-top: 3em;
    }

    .form-description {
        width: 100%;
        margin-left: 1em;
    }

    .form-container h1 {
        font-size: 3em;
    }

    .additional-information-and-button h1 {
        margin-left: 0.5em;
        font-size: 1.8em;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .animal-form {
        width: 50%;
        gap: 1em;
    }

    .form-container h1 {
        font-size: 3em;
    }

    .animal-details-with-image {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 1.5em;
    }

    .form-description {
        width: 100%;
        margin-left: 1em;
    }
}

@media only screen and (min-width: 1440px) {
    .additional-information-and-button h1 {
        margin-left: 0.5em;
        font-size: 2em;
    }

    .animal-details-with-image {
        flex-direction: row-reverse;
        padding-bottom: 1.5em;
    }

    .animal-form {
        width: 50%;
        gap: 1em;
    }

    .form-container h1 {
        font-size: 3em;
    }

    .animal-details-with-image {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 1.5em;
    }

    .form-description {
        width: 100%;
    }
}
