.animals-list {
    background-color: #e5f1e4;
}

.animals-list h1 {
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 1em;
    font-size: 1.7em;
    color: #1e2761;
}

.animals-list h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #408ec6;
}

.animals-list ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-gap: 1em;
    padding: 1em;
}

.animal-list-item {
    border-radius: 1em;
    border: 3px solid #408ec6;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.animal-list-item a {
    width: 100%;
}

.animal-image {
    border-radius: 0 0 1em 1em;
    height: 15em;
    width: 100%;
    object-fit: cover;
}

.animal-info-text {
    color: #1e2761;
    padding: 0 1em;
}

.animals-list-add-button {
    display: flex;
    justify-content: center;
    margin: 0 1em;
}

.animals-list-add-button a {
    width: 100%;
}

.animals-list-add-button button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
}

.animals-list-add-button span {
    font-size: 1.5em;
    margin-left: 0.5em;
}

.plus-sign {
    width: 2em;
}

.touch-mobile-symbol {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.6em;
    width: 2em;
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.search {
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
    padding-right: 1%;
}

.search img {
    height: 2.3rem;
    cursor: pointer;
}

.search select {
    width: 50%;
    max-width: 250px;
    height: 2rem;
    border-radius: 9px;
    margin-right: 0.4%;
    padding-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .animals-list ul {
        display: grid;
        grid-template-columns: repeat(4, minmax(10em, 1fr));
    }

    .animals-list-add-button button {
        align-items: center;
        width: 10em;
    }

    .animals-list-add-button span {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .animals-list ul {
        grid-template-columns: repeat(5, minmax(10em, 1fr));
    }

    .animals-list-add-button button {
        align-items: center;
        width: 10em;
    }
}

@media screen and (min-width: 1440px) {
    .animals-list ul {
        grid-template-columns: repeat(6, minmax(10em, 1fr));
    }

    .animals-list-add-button button {
        align-items: center;
        width: 12em;
    }

    .animals-list-add-button span {
        font-size: 1.2em;
    }
}
