.dashboard-page-wrapper h1 {
    color: #1e2761;
    text-transform: uppercase;
    justify-items: center;
}

.dashboard-animals-images {
    width: 100vw;
}

.dashboard-page-wrapper {
    background-color: #9ec39a;
}
