.footer {
    align-items: center;
    background-color: white;
    text-align: justify;
    font-size: 1em;
    padding: 1em;
}

.footer p {
    text-align: center;
}

.footer a {
    color: #1e2761;
}

.news-letter-subscription {
    width: 100%;
    text-align: center;
    color: #1e2761;
    padding: 1em;
}

.submit-news-letter-button {
    width: 3em;
    height: 2em;
    border: none;
    background-color: transparent;
}

.arrow-key-enter-image {
    width: 100%;
    height: 100%;
}

.news-letter-input {
    width: 100%;
    height: 3em;
    border: 0;
    border-bottom: 0.1rem solid #000;
    outline: 0;
    background-color: transparent;
}

.email-input-with-button {
    display: flex;
    align-items: center;
}

.footer-lists {
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.footer-lists li {
    font-size: 0.6em;
}

.footer-lists-icons {
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-lists-icons img {
    width: 2em;
    height: 2em;
    object-fit: cover;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .news-letter-input {
        height: 3.5em;
    }

    .footer a {
        font-size: 1em;
    }

    .footer-lists {
        display: grid;
        grid-template-columns: repeat(2, minmax(1em, 1fr));
        grid-gap: 0.5em;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inputs-button-wrapper {
        width: 50%;
        flex-direction: column;
    }

    .footer-lists li {
        font-size: 0.8em;
    }

    .news-letter-subscription {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .footer {
        padding-bottom: 2em;
    }

    .footer-lists {
        display: grid;
        grid-template-columns: repeat(2, minmax(1em, 1fr));
        grid-gap: 1em;
        font-size: 1.7em;
    }

    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .inputs-button-wrapper {
        width: 50%;
        flex-direction: column;
    }

    .footer-lists-icons {
        padding: 2em;
    }

    .news-letter-input {
        height: 3.5em;
    }
}

@media screen and (min-width: 1440px) {
    .footer {
        padding: 0 0 2em 0;
    }

    .footer-lists {
        display: grid;
        grid-template-columns: repeat(2, minmax(1em, 1fr));
        grid-gap: 1em;
        grid-gap: 0.5em;
        font-size: 1.7em;
    }

    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .inputs-button-wrapper {
        width: 50%;
        flex-direction: column;
    }

    .footer-lists-icons {
        padding: 2em;
        margin: 0;
    }

    .news-letter-input {
        height: 3.5em;
    }

    .footer p {
        font-size: 1.3em;
    }

    .news-letter-subscription {
        font-size: 1em;
    }
}
