.header {
    background-color: #006eb4ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.buttonContainer {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
