.header {
    background-color: #1e2761;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1em 1.5em;
}

.account-logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.header a {
    color: white;
}

.logos-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.letter-logo-container {
    width: 15em;
}

.main-logo-container {
    width: 4em;
}

.main-logo {
    width: 100%;
}

.organization-name {
    width: 100%;
}

.account-icon {
    height: 2.5em;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        padding: 1.5em;
    }

    .organization-name {
        width: 25em;
    }

    .account-icon {
        height: 3em;
        margin-right: 0.4em;
    }

    .main-logo-container {
        width: 4em;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .header {
        padding: 1.8em;
    }

    .organization-name {
        width: 28em;
    }

    .account-icon {
        height: 3.5em;
        margin-right: 0.6em;
    }

    .main-logo-container {
        width: 5em;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 2em;
    }

    .organization-name {
        width: 30em;
    }

    .account-icon {
        height: 4em;
        margin-right: 1em;
    }

    .main-logo-container {
        width: 6em;
    }
}
