.navbar {
    background-color: #408ec6;
}

.navbar-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3em;
}

.navbar a {
    color: white;
}

.home-Page-button a {
    color: white;
}
