.navbar-buttons img {
    max-width: 49px; 
}

@media screen and (max-width: 767px) {
    .navbar {
        background-color: #408ec6;
        display: flex;
        order: 1;
    }

    .navbar-buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5em;
    }

    .navbar-buttons img {
        width: 34px;
        display: flex;
        justify-content: space-around;  
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        background-color: #408ec6;
        display: flex;
        order: 1;
    }

    .navbar-buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;        
        align-items: center;
        padding: 0.5em;
    }   
    
    .navbar-buttons img {
        width: 49px;
        display: flex;
        justify-content: space-around;  
    }
}