.navbar {
    background-color: #408ec6;
    display: flex;
    order: 1;
}

.navbar-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
}
