.notFound {
    background-color: #0b0b0b;
    height: 100vh;
    text-align: center;
}

.notFound img {
    max-width: 1200px;
    margin: 0%;
    padding: auto 5%;
}

.notFound h2 {
    color: white;
    background-color: #0b0b0b;
}
