.notFound {
    background-color: #0b0b0b;
    width: 100%;
    text-align: center;
    height: 100%;
    padding-bottom: 2em;
}

.notFound img {
    width: 100%;
    margin: 0;
    padding: auto 5%;
}

.img-wrapper {
    padding: 0 2em;
}

.text-wrapper {
    color: white;
    background-color: #0b0b0b;
    font-size: 1em;
    margin-bottom: 2em;
    padding: 0 2em;
}

.meowrror-text {
    font-size: 2em;
    margin-bottom: 1em;
}
