.notFound {
    background-color: #0b0b0b;
    padding-bottom: 2em;
    text-align: center;
    height: 100%;
}

.notFound img {
    width: 100%;
    margin: 0;
    padding: auto 5%;
}

.img-wrapper {
    padding: 0 2em;
}

.text-wrapper {
    color: white;
    background-color: #0b0b0b;
    font-size: 1em;
    margin-bottom: 2em;
    padding: 0 2em;
}

.meowrror-text {
    font-size: 2em;
    margin-bottom: 1em;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

/*@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    
}
*/

/* @media only screen and (width > 1440px) {
    .notFound {
        background-color: #0b0b0b;
        padding-bottom: 2em;
        text-align: center;
    }

    .notFound img {
        max-width: 1200px;
        margin: 0%;
        padding: auto 5%;
    }

    .notFound h2 {
        color: white;
        background-color: #0b0b0b;
    }
} */
