body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(#408ec6, #1E2761);
}
.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    margin-top: 2%;
    width: 70%;
    max-width: 600px;
    background: #fff;
    padding-bottom: 0;
    border-radius: 10px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: 15px;
}

.text {
    color: #1E2761;
    font-size: 40px;
    font-weight: 700;
}

.underline{
    width: 25%;
    height: 6px;
    background: #1E2761;
    border-radius: 9px;
}

.authenticator {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.authenticator img { 
    width: 7%;
    padding: 0.5em 1em;
    cursor: pointer;
}

.signOption  {
    color: #8F8F8F;
    font-size: 18px;   
    margin: 2%; 
}

.inputs {    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 60px;
    background: #e5f1e4;
    border-radius: 9px;
}

.input img {
    margin : 0px 10%;
}

.input input {
    height: 50px;
    width: 50%;
    background: transparent;
    border: none;
    outline: none;
    color: #8F8F8F;
    font-size: 1rem;
}

.forgotPassword {
    margin: 2%;
    color: #408ec6;
    font-size: 18px;
    cursor: pointer;
}

.submitContainer {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 5vh;
    color: #fff;
    background: #1E2761;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: #EAEAEA;
    color: #8F8F8F;
}